<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqeec.gams.dao.RoleMapper">
	<select id="count" resultType="long">
		select count(*) from Role
	</select>
	
	<select id="findAll" resultType="com.cqeec.gams.entity.Role">
		select * from Role
	</select>
	
	<select id="findById"  resultType="com.cqeec.gams.entity.Role">
		select * from Role where id=#{id}
	</select>
	
	<select id="findPage"  resultType="com.cqeec.gams.entity.Role">
		select  top ${pageSize} * from Role where id not in(select top ${(pageNumber-1)*pageSize}  id from Role )
	</select>
	
	<insert id="insert"  parameterType="com.cqeec.gams.entity.Role">
		insert into Role(
	<trim suffixOverrides=",">
		<if test="id!=null">id,</if>
		<if test="name!=null">name</if>
	</trim>
		) values(
	<trim suffixOverrides=",">
		<if test="id!=null">#{id},</if>
		<if test="name!=null">#{name}</if>
	</trim>
	</insert>
	
	<update id="update"  parameterType="com.cqeec.gams.entity.Role">
		update Role 
	<set>
		<if test="name!=null">name=#{name}</if>
	</set>
		where id=#{id}
	</update>
	
	<delete id="delete">
		delete from Role where id=#{id}
	</delete>
</mapper>